@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');

:root {
  --first-clr: #5a56e9;
  --first-clr: #fcdd44;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-clr {
  color: var(--first-clr);
}

body {
  font-family: 'Titillium Web', sans-serif;
  
}
#logo{
  width:218px;
}
.video-bg-wrapper .video-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* adjust darkness */
  z-index: 0;
}
.section-with-video .content {
  position: relative;
  z-index: 1;
}

.video-bg-wrapper video {
  position:absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000; /* Choose any fallback color */
  z-index: -1; /* Makes sure the video stays in the background */
}

.section-with-video {
  position: relative;
  height: 100vh; /* Makes sure the section takes the full height of the viewport */
  overflow: hidden; /* Prevents any overflow from the video */
}



.landing-page {
  padding: 80px 0;
  margin-bottom: 20px;
  user-select: none;
  background-size: cover;
	background-position: center 40%;

}
.landing-page .container {
  max-width: 1100px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}
.landing-page .content .text-cont .header,
.landing-page .content .text-cont .description {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}
.landing-page .content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page .content .text-cont {
  width: 60%;
}
.landing-page .content .text-cont .header {
  font-size: 7rem;
  font-weight: 900;
  line-height: 1.1;
  color: #FFF;
  font-family: 'Titillium Web', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}
.landing-page .content .text-cont .description {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 30px 0;
  color:#fff;
  font-weight: 600;
  width: 80%;
}
.landing-page .content .text-cont .btn {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
  padding: .6rem 1rem;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0 0px 5px rgba(0, 0, 0, .1);
  transition: all .2s linear;
  border-radius: 20px;
}
.landing-page .content .text-cont .btn-discover {
  min-width: 160px;
  margin-right: 5px;
  color: #FFF;
  background-color: var(--first-clr);
}
.landing-page .content .text-cont .btn-discover:hover {
  border-color: var(--first-clr);
  background-color: white;
  color: var(--first-clr);
}
.landing-page .content .text-cont .btn-play {
  color: var(--first-clr);
  border: 2px solid var(--first-clr);
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px var(--first-clr);
  animation: glow 2s infinite ease-in-out;
}
.landing-page .content .text-cont .btn-play:hover {
  border-color: var(--first-clr);
  background-color: var(--first-clr);
  color: #FFF;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px var(--first-clr);
  }
  50% {
    box-shadow: 0 0 15px var(--first-clr), 0 0 25px var(--first-clr);
  }
  100% {
    box-shadow: 0 0 5px var(--first-clr);
  }
}

.landing-page .content .img-cont {
  width: 35%;
  position: relative;
}
.landing-page .content .img-cont::before,
.landing-page .content .img-cont::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--first-clr);
  
}
.landing-page .content .img-cont::before {
  top: -5%;
  left: -7%;
  width: 100%;
  height: 60px;
}
.landing-page .content .img-cont::after {
  height: 25vh;
  width: 25vh;
  max-width: 180px;
  max-height: 180px;
  bottom: -5%;
  left: -5%;
  border-radius: 0 0 0 15px;
}
.landing-page .content .img-cont .img {
  width: 100%;
  display: block;
  border-radius: 0 0 0 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .25);
}

@media screen and (max-width: 650px) {
  .landing-page .content {
    flex-direction: column;
  }
  .video-bg-wrapper video {
    object-position: center;
  }
  .landing-page .content .text-cont,
  .landing-page .content .text-cont .description {
    width: 100%;
  }
  .landing-page .content .text-cont {
    text-align: center;
  }
  .landing-page .content .img-cont {
    width: 80%;
    margin-top: 80px;
  }
}
