/* Preloader */
/* Preloader container with gradient animation */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
  
	/* Beautiful travel-themed gradient */
	background: linear-gradient(270deg, #8f3035, #7c1880, #28588b, #602c85, #612c9e);
	background-size: 1000% 1000%;
  
	/* Smooth gradient flow */
	animation: gradientFlow 3s ease infinite;
}
  
/* Loader image (gif) with smooth scale */
.loader-img {
	width: 100px;
	height: 100px;
	background-image: url('../img/preloader.gif');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation: scaleUp 2s ease-in-out forwards;
	opacity: 0;
  }

@keyframes gradientFlow {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%;
	background-color: #333333; }
}
  
@keyframes scaleUp {
	0% {
	  transform: scale(1);
	  opacity: 1;
	}
	100% {
	  transform: scale(7);
	  opacity: 0;
	}
}	
  
.scroll-up-btn {
	position: fixed;
	height: 45px;
	width: 40px;
	background-color: #400361;
	right: 30px;
	bottom: 10px;
	text-align: center;
	line-height: 45px;
	color: #fcdd44;
	z-index: 10;
	font-size: 32px;
	border-radius: 6px;
	border-bottom-width: 2px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}

.scroll-up-btn.show {
	bottom: 30px;
	opacity: 1;
	pointer-events: auto;
}

.scroll-up-btn:hover {
	color: orangered;
	transform: scale(1.1);
}
/* Reveal Animation */

.reveal{
    position: relative;
    transform: translateY(10vh);
    opacity: 0;
    transition: all 0.4s ease ;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.tsm{
	height: auto;
}